/* 공통 common.css */
#wrap {}
#wrap * {transition: all 0.3s;}
#wrap .container {min-width: 320px;}
#wrap .container .contents {max-width: 1250px; margin: 0 auto;}
/* mobile design - .sponsor_btn */
#wrap .container .sponsor_btn {
    width: 164px; height: 41px; display: block; margin: 0 auto;
    background: linear-gradient(90deg, #FE9300, #FF7300);
    border-radius: 37.5px;
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 10px;
}
#wrap .container .sponsor_btn em {
    color: #fff; font-weight: 500;
    font-family: 'Pretendard', sans-serif;/* 단독글꼴일경우 */
}
#wrap .container .sponsor_btn::after {
    content:'>'; display: block;
    color: #fff; font-size: 0.75rem;
    transition: font-weight 0.3s;
}
#wrap .container .sponsor_btn:hover::after {
    animation: x4 0.4s linear alternate infinite;
    font-weight: 600;
}
@keyframes x4 {
    0% {transform: translateX(0);}
    100% {transform: translateX(4px);}
}