/* 반응형조건 responsive */
/* mobile(320~) -> tablet(1024~) -> desktop(1250~) */
@media screen and (min-width: 600px) {
    /* ---------------------------------------------------2행 퀴즈 */
    #wrap .quiz_bg .quiz {
        flex-flow: row nowrap;/* t, d column -> row */
    }
    #wrap .quiz_bg .quiz > * {flex: 1;}/* 퀴즈+현황 비율 반반(1:1) */
}
@media screen and (min-width: 860px) {
    #wrap .intro {padding: 300px 0 100px;}
    /* ---------------------------------------------------3행~6행 공통 */
    #wrap .container {padding: 200px 80px;}
    #wrap .container .contents h1 {font-size: 2.5rem; margin: 0 0 40px;}
    #wrap .container .contents h1+p {font-size: 1.38rem; font-weight: 700; margin: 0 0 40px;}
    /* ---------------------------------------------------3행 영상 */
    #wrap .video_bg .video h1 {margin: 0 0 70px;}
    #wrap .video_bg .video iframe {height: 484px;}
    /* ---------------------------------------------------5행 인류재앙 */
    #wrap .humanity_bg .humanity h1+p {font-size: 1rem; font-weight: 400;}
    #wrap .humanity_bg .humanity .list {flex-flow: row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex: 1;}
    #wrap .humanity_bg .humanity .list li dl {height: 320px;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size: 2.69rem;}
    #wrap .humanity_bg .humanity .list li .txt {height: 250px;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size: 1rem;}
}/* 860~1023 */
@media screen and (min-width:680px) {
    #wrap .intro {padding: 410px 0 100px;}
    #wrap .intro .logo {width: 32px; left: 36px; top: 30px;}
    #wrap .intro h1 {margin: 0 0 100px;}
    #wrap .intro h1 span {font-size: 3.13rem; font-weight: 600;}
    #wrap .container .sponsor_btn {width: 238px; height: 60px;}
    #wrap .container .sponsor_btn em {font-size: 1.38rem;}
    #wrap .container .sponsor_btn::after {font-size: 1rem;}
    /* ---------------------------------------------------2행 퀴즈 */
    #wrap .quiz_bg {padding: 150px 80px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {
        font-size: 2.50rem; margin: 0 0 60px; text-align: center;
    }
    #wrap .quiz_bg .quiz .quiz_list h2 span {display: inline; font-size: 1.25rem;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li {margin: 0 0 30px;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li:last-child {margin: 0 0 40px;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li label {
        font-size: 1.25rem; background-size: 28px;
    }
    #wrap .quiz_bg .quiz_status p {text-align: right;}
    /* ---------------------------------------------------8행 활동내역 */
    #wrap .activity_bg .activity .details {
    grid-template-areas:
        'public nature'
        'corporation nature';
    grid-template-columns: 1fr 1fr;
    }
    #wrap .activity_bg .activity .details li {
        position: relative; padding-bottom: 30px;
    }
    #wrap .activity_bg .activity .details li .txt {width: 60%;}
    #wrap .activity_bg .activity .details li:last-child .txt {
        position: absolute; left: 0; bottom: 30px;
    }
    #wrap .activity_bg .activity .details li .txt dt {font-size: 2.13rem; font-weight: 700;}
    #wrap .activity_bg .activity .details li .txt dd {font-size: 1.25rem;}
    /* ---------------------------------------------------9행 선물정보 */
    #wrap .gift_bg .gift {text-align: right;}
    #wrap .gift_bg .gift .title {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    #wrap .gift_bg .gift .title h1 {margin: 0;}
    #wrap .gift_bg .gift .gift_list {
        grid-template-areas:
            'sponser2 sponser3'
            'sponser5 sponser5';
        grid-template-columns: 1fr 1fr;
        margin: 40px 0;
        gap: 45px;
    }
    #wrap .gift_bg .gift .gift_list li .photo img {transform: translateY(0);}
    #wrap .gift_bg .gift .gift_list li .photo {height: 300px;}
    /* ---------------------------------------------------10행 안내 */
    #wrap .payment_bg {padding: 100px 80px;}
}/* 1024~1249 */
@media screen and (min-width:1250px) {
    #wrap .intro {padding: 447px 0 100px;}
    #wrap .intro .logo {width: 47px; left: 61px; top: 53px;}
    #wrap .intro h1 span {font-size: 4.28rem;}
    #wrap .intro h1 span:nth-child(1) {font-weight: 400;}
    #wrap .intro h1 span:nth-child(2) {font-weight: 700;}
    #wrap .container .sponsor_btn {width: 409px; height: 71px;}
    #wrap .container .sponsor_btn em {font-size: 2.13rem;}
    #wrap .container .sponsor_btn::after {font-size: 2rem;}
    /* ---------------------------------------------------2행 퀴즈 */
    #wrap .quiz_bg {padding: 150px 335px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {font-size: 3.44rem; margin: 0 0 45px;    }
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li {margin: 0 0 30px;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li:last-child {margin: 0 0 40px;}
    /* ---------------------------------------------------3행~6행 공통 */
    #wrap .container .contents h1 {font-size: 3.43rem; margin: 0 0 81px;}
    #wrap .container .contents h1+p {font-size: 2.13rem; margin: 0 0 81px;}
    /* ---------------------------------------------------3행 영상 */
    #wrap .video_bg .video iframe {height: 600px;}
    /* ---------------------------------------------------5행 인류재앙 */
    #wrap .humanity_bg .humanity h1+p {font-size: 1.25rem;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size: 2.69rem;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size: 1.25rem;}
    /* ---------------------------------------------------9행 선물정보 */
    #wrap .gift_bg .gift {text-align: center;}
    #wrap .gift_bg .gift .gift_list {
        grid-template-areas: 
        'sponser2 sponser3 sponser5';
        grid-template-columns: 1fr 1fr 1fr;
        margin: 70px 0;
    }
    #wrap .gift_bg .gift .gift_list li h2,
    #wrap .gift_bg .gift .gift_list li h2+p {font-size: 1.13rem;}
    #wrap .gift_bg .gift .info {font-size: 1.13rem;}
    /* ---------------------------------------------------10행 안내 */
    #wrap .payment_bg {padding: 100px 335px;}
    #wrap .payment_bg .payment dl dt {font-size: 2.13rem;}
    #wrap .payment_bg .payment dl dd {font-size: 1.25rem;}
}/* 1250~ */